@import "../../styles/base.scss";
.container {
  width: 823.702px;
  height: 451.981px;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  position: relative;
  @include apply-at-sm-size {
    width: 100%;
    height: fit-content;
  }

  .title {
    font-family: $title-font;
  }

  .desc {
    font-weight: 300;
    height: 156px;
    overflow-x: hidden;
    overflow-y: scroll;
    @include apply-at-sm-size {
    }
  }

  .desc::-webkit-scrollbar {
    display: none;
  }

  .wrapper {
    width: 623.702px;
    height: 451.981px;
    @include apply-at-sm-size {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }

    .text-container {
      padding: 10px;
      width: 100%;
      height: 480.981px;
      border-radius: 19.423px;
      background: $base-background;
      position: relative;
      border: 5px solid white;
      box-shadow: 0px 0px 5px black;
      @include apply-at-sm-size {
        width: 100%;
        height: 560.981px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }

      .text-wrapper {
        height: 451.981px;
        display: grid;
        grid-template-rows: repeat(2, minmax(0, 1fr));
        @include apply-at-sm-size {
          display: flex;
          flex-direction: column;
        }

        .text-description {
          width: 70%;
          padding: 2px;
          height: 100%;
          @include apply-at-sm-size {
            width: 100%;
            height: 100%;
          }
        }

        .text-ingredient {
          width: 70%;
          padding: 2px;
          @include apply-at-sm-size {
            width: 100%;
            height: 100%;
          }

          .ingredient-wrapper {
            display: grid;
            justify-content: start;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 10px;
            margin-top: 10px;
          }

          .action-button {
            display: flex;
            width: 100%;
            justify-content: start;
            gap: 30px;

            button {
              width: 124.856px;
              height: 29.63px;
              font-size: 10px;
              flex-shrink: 0;
              border: 2px solid $border-button;
              margin-top: 20px;
            }
          }
        }
      }
    }

    .img-container {
      width: 350px;
      height: 350px;
      z-index: 1;
      right: 0;
      top: 0;
      margin: 50px 20px;
      position: absolute;

      img {
        width: 100%;
        height: 100%;
        background-size: cover;
      }

      @include apply-at-sm-size {
        position: relative;
        width: 100%;
        margin: 0px 0px;
        bottom: 0;
        height: 200px;
        box-shadow: 0px 0px 5px black;
      }
    }
  }
}
